<!DOCTYPE html>
<html>
  <head>
    <title>Solitaire in AngularJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="style.css"/>
  </head>
  <body ng-app="solitaireApp" ng-controller="GameCtrl">   
    <h1>Solitaire in Angular JS</h1>
    <a href="https://github.com/imnes/ng-solitaire">See code at github.com/imnes/ng-solitaire</a>
    <hr>
    <div class="table">
      <div class="game-over" ng-show="gameOver()"><h1>Game Over</h1><button ng-click="playAgain()">Play Again</button></div>
      <div class="stock">      
        <div ng-repeat="card in stock.slice(-7)" style="position: absolute; left: {{2*$index}}px; top: {{-2*$index}}px;" class="card-back" ng-show="stock.length > 0"></div>
        <div class="card-empty" ng-show="stock.length === 0"></div>
      </div>
      <div class="waste">
        <div class="card-{{waste.last().suite}}-{{waste.last().val}}" ng-show="waste.length > 0" ng-click="selectWasteCard(waste.last())" ng-class="{active: waste.last() === selected}"></div>
        <div class="card-empty" ng-show="waste.length === 0"></div>        
      </div>
      <button style="margin-top: 100px;" ng-click="flip(1)">Flip 1</button>
      <button style="margin-top: 100px;" ng-click="flip(3)">Flip 3</button>
      <button style="margin-top: 100px; margin-left: 2em;" ng-disabled="state.length === 0" ng-click="undo()">Undo</button>
      <div class="foundations">
        <div ng-repeat="foundation in foundations">
          <div class="card-empty" ng-show="foundation.length === 0" ng-class="{'possible-target': selected.suite === $index && selected.val === 0}" ng-click="(selected.suite === $index && selected.val === 0) ? moveSelectedToFoundation(foundation): '';">{{symbols[$index]}}</div>
          <div class="card-not-empty card-{{foundation.last().suite}}-{{foundation.last().val}}" ng-show="foundation.length > 0" ng-class="{'possible-target': selectedFrom.last().suite === $index && selectedFrom.last().val === foundation.last().val + 1}" ng-click="(selectedFrom.last().suite === $index && selectedFrom.last().val === foundation.last().val + 1) ? moveSelectedToFoundation(foundation): '';">&nbsp;</div>
        </div>
      </div>
      <div class="tableau">
        <div ng-repeat="t in tableau" class="tableau-column" style="position: relative;">
          <div ng-show="t.length === 0" class="card-empty"  style="position: absolute; left: 0px; top: 0px;" ng-click="selected.val === 12 ? moveSelectedToTableau($index) : return;" ng-class="{'possible-target': selected.val === 12}"></div>
          <div ng-repeat="card in t" ng-click="flipTableauCard($parent.$index, $index)" style="position: absolute; left: 0px; top: {{20*$index}}px;" class="card-back" ng-show="card.face === face.down"></div>        
          <div ng-repeat="card in t" ng-click="(differentColor(selected.suite, card.suite) && selected.val === card.val - 1 && card === tableau[$parent.$index].last()) ? moveSelectedToTableau($parent.$index) : selectTableauCard($parent.$index, $index)" style="position: absolute; left: 0px; top: {{20*$index}}px;" class="card-{{card.suite}}-{{card.val}}" ng-show="card.face === face.up" ng-class="{active: tableau[$parent.$index].indexOf(selected) > -1 && tableau[$parent.$index].indexOf(selected) <= $index, 'possible-target': differentColor(selected.suite, card.suite) && selected.val === card.val - 1 && card === tableau[$parent.$index].last()}"></div>        
        </div>
      </div> 
    </div>    
    <hr>
    <address><a href="mailto:nick.smith@gmail.com">nick.smith@gmail.com</a></address>    
    <script src="solitaire.js"></script>  
 </body>
</html>
