.table { background-color: #060; padding: 2em; border-radius: 2em; height: 600px; min-width: 770px; position: relative;}

.game-over {position: absolute; z-index: 100; border: 4px outset; background-color: #ff7; text-align: center; margin-top: 200px; padding: 2em; margin-left: 300px; margin-right: 100px;}

.active { margin-left: -2px; margin-top: -2px; border: 2px solid yellow !important; }

.possible-target { box-shadow: 0px 0px 20px 10px rgba(51,51,51,1); }

.tableau-column .possible-target:hover { margin-left: -2px; margin-top: -2px; border: 2px solid #0F0 !important; }

.foundations .possible-target:hover { border: 1px solid #0F0 !important; }

.stock { position: absolute; top: 20px; left: 20px; }

.waste { position: absolute; top: 20px; left: 120px; }

.foundations { position: absolute; top: 20px; left: 300px; }

.foundations div { position: relative; display: inline-block; margin-left: 1em; /* margin-top: 2em; */}

.tableau { position: absolute; display: block; top: 200px; left: 130px; }

.tableau-column { position: relative; margin-right: 6em; display: inline-block; }

.card-empty{ width: 67px; height: 92px; line-height: 92px; text-align: center; font-size: 32px; color: #bbb; margin: 4px; border: 1px dashed #ccc; border-radius: 4px}
.card-not-empty{ width: 67px; height: 92px; line-height: 92px; text-align: center; font-size: 32px; color: #bbb; margin: 4px; border: 1px transparent; border-radius: 4px}
.card-back{ width: 71px; height: 96px; background: url('card-back.png')}
.card-0-0{ width: 71px; height: 96px; background: url('cards.png') -1px -1px}
.card-0-1{ width: 71px; height: 96px; background: url('cards.png') -74px -1px}
.card-0-2{ width: 71px; height: 96px; background: url('cards.png') -147px -1px}
.card-0-3{ width: 71px; height: 96px; background: url('cards.png') -220px -1px}
.card-0-4{ width: 71px; height: 96px; background: url('cards.png') -293px -1px}
.card-0-5{ width: 71px; height: 96px; background: url('cards.png') -366px -1px}
.card-0-6{ width: 71px; height: 96px; background: url('cards.png') -439px -1px}
.card-0-7{ width: 71px; height: 96px; background: url('cards.png') -512px -1px}
.card-0-8{ width: 71px; height: 96px; background: url('cards.png') -585px -1px}
.card-0-9{ width: 71px; height: 96px; background: url('cards.png') -658px -1px}
.card-0-10{ width: 71px; height: 96px; background: url('cards.png') -731px -1px}
.card-0-11{ width: 71px; height: 96px; background: url('cards.png') -804px -1px}
.card-0-12{ width: 71px; height: 96px; background: url('cards.png') -877px -1px}
.card-0-13{ width: 71px; height: 96px; background: url('cards.png') -950px -1px}
.card-1-0{ width: 71px; height: 96px; background: url('cards.png') -1px -99px}
.card-1-1{ width: 71px; height: 96px; background: url('cards.png') -74px -99px}
.card-1-2{ width: 71px; height: 96px; background: url('cards.png') -147px -99px}
.card-1-3{ width: 71px; height: 96px; background: url('cards.png') -220px -99px}
.card-1-4{ width: 71px; height: 96px; background: url('cards.png') -293px -99px}
.card-1-5{ width: 71px; height: 96px; background: url('cards.png') -366px -99px}
.card-1-6{ width: 71px; height: 96px; background: url('cards.png') -439px -99px}
.card-1-7{ width: 71px; height: 96px; background: url('cards.png') -512px -99px}
.card-1-8{ width: 71px; height: 96px; background: url('cards.png') -585px -99px}
.card-1-9{ width: 71px; height: 96px; background: url('cards.png') -658px -99px}
.card-1-10{ width: 71px; height: 96px; background: url('cards.png') -731px -99px}
.card-1-11{ width: 71px; height: 96px; background: url('cards.png') -804px -99px}
.card-1-12{ width: 71px; height: 96px; background: url('cards.png') -877px -99px}
.card-1-13{ width: 71px; height: 96px; background: url('cards.png') -950px -99px}
.card-2-0{ width: 71px; height: 96px; background: url('cards.png') -1px -197px}
.card-2-1{ width: 71px; height: 96px; background: url('cards.png') -74px -197px}
.card-2-2{ width: 71px; height: 96px; background: url('cards.png') -147px -197px}
.card-2-3{ width: 71px; height: 96px; background: url('cards.png') -220px -197px}
.card-2-4{ width: 71px; height: 96px; background: url('cards.png') -293px -197px}
.card-2-5{ width: 71px; height: 96px; background: url('cards.png') -366px -197px}
.card-2-6{ width: 71px; height: 96px; background: url('cards.png') -439px -197px}
.card-2-7{ width: 71px; height: 96px; background: url('cards.png') -512px -197px}
.card-2-8{ width: 71px; height: 96px; background: url('cards.png') -585px -197px}
.card-2-9{ width: 71px; height: 96px; background: url('cards.png') -658px -197px}
.card-2-10{ width: 71px; height: 96px; background: url('cards.png') -731px -197px}
.card-2-11{ width: 71px; height: 96px; background: url('cards.png') -804px -197px}
.card-2-12{ width: 71px; height: 96px; background: url('cards.png') -877px -197px}
.card-2-13{ width: 71px; height: 96px; background: url('cards.png') -950px -197px}
.card-3-0{ width: 71px; height: 96px; background: url('cards.png') -1px -295px}
.card-3-1{ width: 71px; height: 96px; background: url('cards.png') -74px -295px}
.card-3-2{ width: 71px; height: 96px; background: url('cards.png') -147px -295px}
.card-3-3{ width: 71px; height: 96px; background: url('cards.png') -220px -295px}
.card-3-4{ width: 71px; height: 96px; background: url('cards.png') -293px -295px}
.card-3-5{ width: 71px; height: 96px; background: url('cards.png') -366px -295px}
.card-3-6{ width: 71px; height: 96px; background: url('cards.png') -439px -295px}
.card-3-7{ width: 71px; height: 96px; background: url('cards.png') -512px -295px}
.card-3-8{ width: 71px; height: 96px; background: url('cards.png') -585px -295px}
.card-3-9{ width: 71px; height: 96px; background: url('cards.png') -658px -295px}
.card-3-10{ width: 71px; height: 96px; background: url('cards.png') -731px -295px}
.card-3-11{ width: 71px; height: 96px; background: url('cards.png') -804px -295px}
.card-3-12{ width: 71px; height: 96px; background: url('cards.png') -877px -295px}
.card-3-13{ width: 71px; height: 96px; background: url('cards.png') -950px -295px}
